nav {
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin: auto;    
    border: 2px solid rebeccapurple;
}

nav ul li:nth-child(1) {
    background-color: blue;
    width: 10vw;
    height: 20vh;
    margin: auto;
}

nav ul li:nth-child(2) {
    background-color: cadetblue;
    width: 10vw;
    height: 20vh;
    margin: auto;
}

nav ul li:nth-child(3) {
    background-color: brown;
    width: 10vw;
    height: 20vh;
    margin: auto;
}